<!doctype html>
<html>
<head>
<title>hi</title>
</head>
<body>

Goals 

<div onclick="sendLogin();">Login</div>

<div onclick="sendLogout();">Logout</div>

<script>

function sendLogin() {
  FB.login(function(response) {
    // handle the response
    console.log(response);
  }, {scope: 'public_profile, email'});
}

function sendLogout() {
  FB.logout(function(response) {
    console.log(response);
     // Person is now logged out
  });
}


function checkLoginState(state) {
  console.log(state);
  FB.getLoginStatus(function(response) {
    console.log(response);
  });
}


function getUserData() {
  // get users information.
  // source: https://developers.facebook.com/tools/explorer/?method=GET&path=me%3Ffields%3Did%2Cpicture&version=v3.1
  FB.api('/me', {fields: ['picture', "last_name"]}, function(response) {
    console.log(response);
  });
}

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2093013864347938',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.1'
    });
      
    FB.AppEvents.logPageView();   

    FB.getLoginStatus(function(response) {
      console.log(response);
    });
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>