<!DOCTYPE HTML>
<HTML>
  <HEAD>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123960240-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123960240-1');
</script>

    <TITLE>Moderamic | Achievement without Distraction</TITLE>

    <meta name="description" content="Stop procrastination with the click of a button. By combining your bookmarks, tasks, and blocked website into modes on one chrome extension, you can be more productive than ever before.">
    <meta name="keywords" content="chrome, extension, todo, task, manager, block, bookmarks, modes, procrastination, achievement, block websites">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="imgs/favicon.png" type="png" rel="shortcut icon">

    <link rel="stylesheet" type="text/css" href="css/font-awesome-4.6.3/css/font-awesome.min.css">

<STYLE>

{{> bootstrap}}

html {
  zoom: 500%;
}

@media only screen and (max-width: 5200px) {
  html {
    zoom: 400%;
  } }

@media only screen and (max-width: 4600px) {
  html {
    zoom: 350%;
  } }

@media only screen and (max-width: 4200px) {
  html {
    zoom: 300%;
  } }

@media only screen and (max-width: 3400px) {
  html {
    zoom: 250%;
  } }

@media only screen and (max-width: 3000px) {
  html {
    zoom: 220%;
  } }

@media only screen and (max-width: 2800px) {
  html {
    zoom: 200%;
  } }

@media only screen and (max-width: 2500px) {
  html {
    zoom: 170%;
  } }



@media only screen and (max-width: 2200px) {
  html {
    zoom: 150%;
  } }

@media only screen and (max-width: 1800px) {
  html {
    zoom: 140%;
  } }

@media only screen and (max-width: 1600px) {
  html {
    zoom: 120%;
  } }

@media only screen and (max-width: 1400px) {
  html {
    zoom: 100%;
  } }

@media only screen and (max-width: 1200px) {
  html {
    zoom: 90%;
  } }


html {
  width: 100%;
  height: 100%;
  padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", "Helvetica";
  color: #444;
  font-weight: 100px;
}

@media only screen and (max-width: 650px) {
  .xhidden-sm-down {
    display: none;
  }
}

.main-divider {
  display: none;
}

@media only screen and (max-width: 991px) {
  .main-divider {
    margin-bottom: 40px;
    display: block;
  }
}

h1 {
  font-weight: 500;
  font-size: 300%;
}

h2 {
  font-weight: 400;
  color: #888;
  font-size: 120%;
  margin-top:0px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 300;
}

p {
  font-size: 200%;
}

.block-header-table {
  background-color: black;
  width: 100%;
}

.block-header-table td {
  text-align: center;
}

.block-header-table td:first-of-type {
  width: 220px;
}

.block-header-table td:last-of-type {
  width: 220px;
}

.center {
  text-align: center;
}

.full {
  width: 100%;
}

#top-label {
  margin-bottom: 10px;
  margin-top: 40px;
  padding-bottom: 0px;
  font-size: 180%;
  color: #999;
}

#top-label-2 {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.main-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.alt-section {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #EEE;
}

#main-left {
  width: 60%;
}

#main-right {
  vertical-align: center;
  width: 40%;
}

.download-button {
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius:30px;
  background-color: #10BF00;
  color: white;
  width: 80%;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.download-button:hover {
  background-color: #109F00;
}

.clickable:hover {
  cursor: pointer;
}

#install-button {
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  background-color: #10BF00;
  color: white;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  font-size: 120%;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 20px;
  font-weight: 300;
}

#install-button:hover {
  background-color: #109F00;
}

.why-download-list td:first-of-type {
  min-width: 55px;
  max-width: 55px;
  text-align: center;
}

.why-download-list i {
  font-size: 200%;
}

.why-download-list i.fa-camera {
  font-size: 160%;
  color: #FFAE00;
}

.why-download-list i.fa-clock-o {
  color: #10BF00;
}

.why-download-list i.fa-ban {
  color: #FF0000;
}

.why-download-list i.fa-bookmark-o {
  color: #00AEFF;
}

.why-download-list td:last-of-type {
  width: 99%;
}

#logo {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#laptop {
  margin-bottom: 20px;
}

.vert-center {
  margin-top: auto;
  margin-bottom: auto;
}

</STYLE>

  </HEAD>
  <BODY>
    <table class="block-header-table full">
      <tr>
        <td>
          &nbsp;
        </td>
        <td>
          <img id="logo" src="imgs/fulllogo_cropped.png" width="250"/>
        </td>
        <td>
          <a href="https://chrome.google.com/webstore/detail/moderamic-track-time-spen/kgklmemiempdkmhdkpadddphcpooonln">
            <div id="install-button" class="clickable xhidden-sm-down">
              add to chrome
            </div>
          </a>

          &nbsp;
        </td>
      </tr>
    </table>

    <div class="center full">
      <h3 id="top-label">new tab page for</h3>
      <h1 id="top-label-2">Achievement Without Distraction</h1>
    </div>

    <div class="container">


      <div class="row justify-content-md-center">
        <div class="col col-lg-8 vert-center">
          <a href="https://chrome.google.com/webstore/detail/moderamic-track-time-spen/kgklmemiempdkmhdkpadddphcpooonln">
              <img id="laptop" src="https://farm2.staticflickr.com/1889/29191441687_b5b09419ca_o.jpg" width="100%"/>
            </a>
        </div>
        <div class="col-lg-4 vert-center">
          <hr class="main-divider"/>

          <table class="why-download-list">
            <tr>
              <td>
                <h2><i class="fa fa-clock-o"></i></h2>
              </td>
              <td>
                <h2>Track and time tasks.</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2><i class="fa fa-bookmark-o"></i></h2>
              </td>
              <td>
                <h2>Sets of bookmarks for play and work.</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2><i class="fa fa-ban"></i></h2>
              </td>
              <td>
                <h2>Block distracting websites when working.</h2>
              </td>
            </tr>
            <tr>
              <td>
                <h2><i class="fa fa-camera"></i></h2>
              </td>
              <td>
                 <h2>New background image rewards for completing tasks.</h2>
              </td>
            </tr>
          </table>

          <a href="https://chrome.google.com/webstore/detail/moderamic-track-time-spen/kgklmemiempdkmhdkpadddphcpooonln">
            <div class="download-button clickable">
              ADD TO CHROME
            </div>
          </a>
        </div>
      </div>

      <!-- end of first section -->
    </div>

    <!--
    
    <div class="alt-section">


      <h1>What is Moderamic?</h1>

      <p>Moderamic is a chrome extension that empowers users with a collection of tools to better accomplish their goals.</p>

      <table>
        <tr>
          <td>

          </td>
          <td>

          </td>
          <td>

          </td>
        </tr>
      </table>

    </div>

  -->


  </BODY>
</HTML>


