<!doctype html>
<html>
<head>
<title>Nikko Privacy Policy</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123960240-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123960240-1');
</script>

<style>
html {
  padding: 100px;
  padding-top:10px;
  font-family: "Helvetica Neue";
}
</style>

</head>
<body>

<h1>Nikko Privacy Policy Agreement</h1>

<p>
  Welcome to the Nikko.ai Privacy Policy ("Policy")! This explains how we collect, store, protect, and share your information, and with whom we share it. We suggest you read this in conjunction with our brilliant Terms and Conditions of Use. Whilst you're enjoying the Nikko.ai mobile application ("App"), we collect some information about you. In addition, you may choose to use the App to share information with other Nikko.ai, including your friends and contacts ("Users"). We may also need to share your information sometimes.
By downloading and installing our App, you agree that we can collect, transfer, store, disclose and use your information as described in this Policy. Nikko.ai is a global app, and your information will be sent to and used in the United States regardless of the country you reside in, and by downloading our App you consent to such transfer. So please read very carefully!
If you have any questions or comments about this Policy, please feel free to contact us at support@nikko.ai.
</p>

<h2>1. COLLECTION OF INFORMATION.</h2>

<h3>Registration Information</h3>

<p>
When you download the App and create an account ("Account"), we may collect certain information ("Registration Information") about you, such as:
<ul>
  <li>Name</li>
  <li>Username</li>
  <li>Email address</li>
  <li>Mobile number</li>
  <li>Gender identity</li>
  <li>Date of birth</li>
  <li>Goals</li>
  <li>Photographs</li>
  <li>Location</li>
  <li>Login information</li>
  <li>Friends list</li>
</ul>
Login information and friend lists for social media accounts that you connect to your Nikko.ai Account (this could include, for example, your Facebook and LinkedIn accounts ("Social Media Accounts").
You will also be required to create a password in connection with the registration of your Account. Once you register, you will be able to review and change this information at any time by accessing your “Profile” page! You control your user profile and are able to correct or update (other than your email address, mobile number, date of birth, gender and location (which is automatically updated)) your information at any time by just logging in to Nikko.ai.
The information we collect helps to enhance the App and verify our Users (Robots are not welcome!!). Registration Information such as your name and username may be visible to the public on your profile page.
</p>

<h2>Additional Information</h2>

<p>
We may ask you to provide your full name, address and email address. You agree that such details may be shared with third parties for purposes relating to, for example, any of our loyalty programs, sending gifts or delivery of merchandise.
We may also collect additional information in connection with your use of Nikko.ai, for example if you use our super cool electronic messaging function.
If you contact our Customer Support team, we will receive your email address, and may track your IP address as well as the information you send to us to help resolve your query. We will keep records of our communications with you, including any complaints that we receive from you about other Users (and from other Users about you).
We recommend and encourage you (and all our members) to think carefully about the information you disclose about yourself. We also do not recommend that you put email addresses, URLs, instant messaging details, phone numbers, full names or addresses, credit card details, national identity numbers, drivers' license details and other sensitive information on your profile which is open to abuse and misuse.
Please be careful about posting sensitive details about yourself on your profile such as your religious denomination and health details. While you may voluntarily provide this information to us when you create your profile, including your goals, there is no requirement to do so. Please remember that photographs that you post on Nikko.ai may reveal information about yourself as well. Where you do upload and choose to tell us sensitive information about yourself, you are explicitly consenting to our processing of your information and making this public to other users.
When you post information about yourself or use the messaging function, the amount of personal information you share is at your own risk. Please see Section 4 below for more information on who can access what you post on Nikko.ai. If you post anything that is inconsistent with our Terms and Conditions of Use, we reserve the right to terminate your Account - we really don't want to have to do this so please play by the rules!
For safety and security and to ensure you have the best possible user experience, we require users to verify their accounts and might ask for your phone number. We want to make sure you are not a robot! And we also want to avoid fake Nikko.ai accounts being created which can be used for malicious activities and cybercrime – they threaten the Nikko.ai network and spoil things for everyone.
If you decide to purchase any of our premium services, we will process your payment information and retain this securely for the prevention of fraud and for audit/tax purposes. Under data protection law, it is necessary for us to collect and process this payment data to enable us to perform our contract with you and our ongoing retention of this data is justified by our legitimate interests set out above.
Finally, we want to keep in touch with you to make sure you know about the great promotions and offers we have available. If you’ve told us it’s OK, we will use your email address and phone number to send you information on these. You can withdraw this consent at any time via Settings in the app.
</p>

<h2>Data Storage</h2>
<p>
By using the App, you agree and acknowledge that Nikko.ai is a global app operating through servers located in a number of countries around the world, including the United States. If you live in a country with data protection laws, the storage of your personal data may not provide you with the same protections as you enjoy in your country of residence. By submitting your personal information, or by choosing to upgrade the services you use, or by making use of the applications available on Nikko.ai, you agree to the transfer of your personal information to, and storage and processing of your personal information in, any such countries and destinations.
</p>

<h2>Geolocation Information</h2>
<p>
If you turn these features on, when you use your mobile, we will collect information about WiFi access points as well as other location information about your longitude and latitude and may save your device's coordinates to offer certain features to you. This information helps us identify your physical location and we may use it to personalize the App and make it easier for you to interact with other Users, by enabling the information to be displayed and shared with other members choosing to view “nearby” posts.
If you have enabled location services, but wish to turn it off, you can do so by the following methods:
<ul>
  <li>
iPhone app — settings, privacy, location services, Nikko.ai
  </li>
  <li>
Android — profile, privacy, off
  </li>
</ul>

<h2>Log and Usage Data</h2>
<p>
Our servers automatically record information ("Log and Usage Data") created by your use of the Service, which again helps us to improve our service. Log and Usage Data may include information such as your IP address, browser type, the referring domain, pages visited, access times, your mobile carrier, and search terms. Other actions, such as interactions with Nikko.ai and advertisements, may also be included in Log and Usage Data.
Where you request that your profile is deleted via the app, it is immediately made unavailable and fully deleted within 30 days. Correspondence with our Customer Support team will be retained for longer to allow us to deal with any subsequent queries you may have but will usually be deleted within 6 years if there are no queries.
Anonymised information about activity on Nikko.ai is retained for longer for statistical and product research purposes but this is not attributable to an individual once the profile has been deleted.
Information such as payment information, IP addresses, mobile numbers and email addresses are retained for anti-fraud and anti-spam purposes for as long as they are relevant. This is usually determined by the expiry of the payment method.
</p>

<h2>Device Information</h2>
<p>
We may collect information about your device when you use the App including the unique device identifier, device model, operating system, and MAC address. In addition, if you permit us to do so, the App may access your device's address book solely in order to add someone to your contacts.
</p>

<h2>Links</h2>
<p>
We may keep track of how you interact with links available on Nikko.ai including third party services and clients by redirecting clicks or through other means. We may share aggregate click statistics such as how many times a particular link was clicked on.
</p>

<h2>Cookies</h2>
<p>
Unlike the chocolate chip kind, these cookies have no calories! They are small data files that are transferred to your computer's hard disk and are basically a tool that stores information about website visits, recognises you and your preferences each time you visit Nikko.ai, and ensures site functionality and enables us to provide the services our members request.
The cookies we collect enable us to learn how people interact with Nikko.ai, which in turn helps us make a better product for you! Cookies store information about your website visits and can recognise you and your preferences each time you visit the Moderamic site. They help us to provide a better service to you!
Nikko.ai’s use of cookies and local storage devices is basically related to the performance of Nikko.ai site, such as analytics that help us determine how our site is performing and ensuring a smooth and trouble free experience for our members and visitors.

Our use of cookies and local storage devices, including the specific cookie names, may change over time, but will generally fall into the above categories. We will notify you of any important changes to our use of cookies and local storage devices. Please visit this page regularly so that you are aware of any changes.
If you would like to know more about these clever and calorie free cookies, including flash cookies/local storage devices, the following websites provide useful information:
www.allaboutcookies.org
www.youronlinechoices.eu
http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html


Below is a table to explain Nikko.ai’s cookie functions and why they’re used.
If for any reason you decide that you do not want all of your Nikko.ai activities to be stored you may set your browser and mobile settings to block cookies and local storage devices, but please remember that if you do so, you may not be able to access all of the features Nikko.ai offers!
We use the following types of cookies:
</p>

<h3>Analytics and research</h3>

<p>
We use Google Analytics to collect information about how visitors use the site. The cookies collect information in an anonymous form, including the number of visitors to the App, where visitors have come from and the pages they visited. For more information about Google's Privacy Policy, please visit http://www.google.com/intl/en/policies/.
</p>

<h3>Performance</h3>

<p>
We need to use certain cookies and save data to your local storage devices to ensure our members have the best possible experience. They assist with your navigation of our site, ensuring pages load quickly and respond promptly to your requests – no one likes snail pace technology!
</p>

<h2>USE OF INFORMATION.</h2>

<p>
  Our main goal is to ensure your experience on Nikko.ai is an enjoyable one and you don't end up getting stung! In order to deliver an enjoyable experience to you, we may use your Registration and other information to:
  <ul>
    <li>
offer you our services and features;
    </li>
    <li>
contact you with information about the App (e.g., updates and new offerings);
    </li>
    <li>
personalize the App and the content we deliver to you;
    </li>
    <li>
conduct research and analytics about how you use and interact with the App;
    </li>
    <li>
resolve disputes between you and other Users; and
investigate fraud, protect our legal rights, and to enforce our Terms and Conditions.</li>
  </li>
</ul>
</p>

<h2>DISCLOSURE OF INFORMATION.</h2>

<p>
Our policy is to not disclose your Registration Information, except in the limited circumstances described here:
Your Consent – If you consent, we may share or disclose your Registration Information, such as when you use a third party web client or application to access your Account.
Service Providers - We engage certain trusted third parties to perform functions and provide services to us. We may share your Registration Information with these third parties, but only for the purposes of performing these functions and providing such services e.g. information technology companies (hardware and software) which provide services to support our products.
Moderators – To monitor activity on the apps and approve content.
Payment Processing and Telecommunications Companies – To facilitate payments for our premium services.
Law and Harm - As we mentioned in the Terms and Conditions, we think it is very important that all Nikko.ai behave whilst using the App. We will cooperate with all third parties to enforce their intellectual property or other rights. We will also cooperate with law enforcement enquiries from within or outside your country of residence where we are required to by law or to protect the vital interests of a person. This may include preserving or disclosing any of your information, including your Registration Information, if we believe in good faith that it is necessary to comply with a law or regulation, or when we believe that disclosure is necessary to comply with a judicial proceeding, court order, or legal request; to protect the safety of any person; to address fraud, security or technical issues e.g. through anti-spam providers to protect the service from criminal activity or to protect our rights or property or those of third parties. In such cases we may raise or waive any legal objection or right available to us.
Business Transfers -In the event that Nikko.ai or any of our affiliates undergoes a business transition or change of ownership, such as a merger, acquisition by another company, re-organisation, or sale of all or a portion of its assets, or in the event of insolvency or administration, we may be required to disclose your personal data.
Aggregated Information – We may share aggregated information with third parties that includes your personal data (but which doesn’t identify you directly) together with other information including log data for industry analysis and demographic profiling. You may opt-out of receiving marketing messages by using the opt-out mechanisms and links provided in each email.
We ensure these parties must adhere to strict data protection and confidentiality provisions that are consistent with this Policy. Measures are taken to ensure that the data shared is non-attributable to the greatest extent possible.
</p>

<h2>WHAT OTHERS MAY SEE ABOUT YOU.</h2>

<p>
We think our Nikko.ai are awesome, and we want you to share how awesome you are with the world, so we have built certain features to enable this. Our App is designed to make it easier for you to connect with other Users and to interact with them. If you register or login to the App using your Facebook account, you are authorizing us to access certain Facebook account information, including information you make available via Facebook, your friends list, current location and those friends you have in common with other Nikko.ai. You also understand that your Nikko.ai profile and other information you make available via the App, including information you provide directly or indirectly through Facebook (i.e., your Facebook photos, your name, age, approximate location, friends you have in common with other Nikko.ai and other profile information), may be viewed and shared by Nikko.ai with individuals who may or may not be Users or via third party applications in such Nikko.ai discretion. For example, a User may recommend you as a match to his or her Facebook friends by sharing your picture, regardless of whether such friend(s) is also a User of the App. You might share information like the photos and messages you send or upload and any metadata provided with those messages, along with any comments or information you provide in connection with your photos.
When using Nikko.ai, you should assume that anything you post or submit on the App may be publicly-viewable and accessible, both by Users of the App and non-Users of the App. We want our Nikko.ai to be careful about posting information that will eventually be made public.
</p>

<h2>MODIFYING YOUR REGISTRATION INFORMATION.</h2>

<p>
You may access or modify the Registration Information you provided at anytime or permanently delete your Account (although we really hope you don't!)
When your Account is deactivated, we take reasonable efforts to make sure it is no longer viewable on the App. For up to 30 days it is still possible to restore your Account if it was accidentally or wrongfully deactivated. After 30 days, we begin the process of deleting your Account from our systems. We are not responsible for any information, pictures, comments, or other content that is deleted from our systems resulting from the deactivation of your Account.
To prevent abuse and/or misuse of Nikko.ai by a User following termination or deletion of a profile/Account we shall retain such information as we deem in our sole discretion may be necessary to ensure that User does not open a new Account and profile in breach of our Terms and Conditions of Use and to ensure compliance with all laws and regulations.
Warning: Even after you remove information from your profile or delete your Account, copies of that information may still be viewable and/or accessed to the extent such information has been previously shared with others, or copied or stored by other Users or to the extent such information has been shared with search engines. We cannot control this, nor do we accept any liability for this. If you have given third party applications or websites access to your personal information they may retain such information to the extent permitted under their terms of service or privacy policies.
Removed and deleted information may persist in backup copies for up to 30 days to enable restoration, but will not be available to others in the meantime.
</p>

<h2>OUR POLICY TOWARDS AGE.</h2>

<p>
Although we want as many people as possible to enjoy our creation, you have to be at least 18 years old to use the App - sorry kids, we know Nikko.ai is cool, but you'll have to come back when you're old enough!
Nikko.ai does not knowingly collect any information about or market to children, minors or anyone under the age of 18. If you are less than 18 years old, we request that you do not submit information to us. If we become aware that a child, minor or anyone under the age of 18 has registered with us and provided us with personal information, we will take steps to terminate that person's registration and delete their Registration Information from Nikko.ai. If we do delete a profile because you violated our no children rules, we may retain your email and IP address to ensure that you do not try to get around our rules by creating a new profile.
</p>

<h2>CHANGES TO THIS POLICY.</h2>

<p>
As Nikko.ai evolves, we may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at moderamic.com/privacy/. If we make a change to this policy that, in our sole discretion, is material, we will notify you, for example, via an email to the email associated with your Account or by posting a notice within Nikko.ai. By continuing to access or use the App after those changes become effective, you agree to be bound by the revised Privacy Policy.
</p>

<h2>Security</h2>

<p>
Here at Nikko.ai we pride ourselves on taking commercially reasonable security measures to help protect your information against loss, misuse and unauthorized access, or disclosure. We use reasonable security measures to safeguard the confidentiality of your personal information such as secured servers using firewalls.
Unfortunately no website or Internet transmission is ever completely 100% secure and even we cannot guarantee that unauthorised access, hacking, data loss or other breaches will never occur, but here are some handy tips to help keep your data secure:
<ul>
  <li>
Please make sure you log out of your Account after use as you never know who may stumble onto your Account!
  </li>
  <li>
Please don't share your social media password with anyone else!
</li>
  <li>
Change your social media password periodically.
</li>
</ul>
If you ever think someone has had access to your social media password, please report it to the relevant social media platform and change your password immediately. We cannot guarantee the security of your personal data while it is being transmitted to our site and any transmission is at your own risk.
<b>
WE EXPRESSLY DISCLAIM ANY REPRESENTATION OR WARRANTY, WHETHER EXPRESS OR IMPLIED, WITH RESPECT TO ANY BREACHES OF SECURITY, DAMAGE TO YOUR DEVICE, OR ANY LOSS OR UNAUTHORIZED USE OF YOUR REGISTRATION INFORMATION OR OTHER DATA.
</b>

</p>

<h2>THIRD PARTY ACCOUNTS.</h2>

<p>
If you have registered with Nikko.ai using a third party social media platform, such as Facebook, your Nikko.ai profile will be available to all Users of Nikko.ai whether via our App or our partners' websites.
Remember that when you register with a third party, you are also giving them personal information, so we recommend that you read their privacy policies as Nikko.ai does not control how they use their information.
If you have registered on one of these third party websites, such as Facebook, or you have verified your Account via a third party website, we may connect your Nikko.ai profile with your profile on such website. We may do this by way of new products and applications which we introduce from time to time, including new products powered by our group companies.
If you have created a Nikko.ai profile through a third party website and you do not want to link your Nikko.ai profile to your profile on the third party website, Nikko.ai cannot amend these settings. Please visit the application settings on your third party website profile and follow the instructions to remove the Nikko.ai access permissions.
We only use the APIs, OAuth Tokens, Widgets, or other means provided by the applicable Social Media Account to integrate your Social Media Account with our App. As such, we only receive the limited information that each Social Media Account permits to be transferred.
</p>

<h2>YOUR CALIFORNIA PRIVACY RIGHTS.</h2>

<p>
California's "Shine the Light" law, Civil Code section 1798.83, requires certain businesses to respond to requests from California customers asking about the businesses' practices related to disclosing personal information to third parties for the third parties' direct marketing purposes. If you wish to find out about any rights you may have under California Civil Code section 1798.83, you can write to us at support@moderamic.com.
From time to time we may disclose your contact information to third parties to allow them to market their products or services to you or for other marketing purposes. This may be information we received from you offline and online. If you want us to stop further sharing your email contact information with third parties (if we have your email contact information), you may notify us at support@moderamic.com. Please follow the instructions provided to you by third parties to unsubscribe from their messages. If you have opted-out as described above, and thereafter you chose to use a service or promotion that requires us to contact you or share your information with a third party, then your previous opt-out preferences will not apply to such service.
In addition, under California law, operators of online services are required to disclose how they respond to "do not track" signals or other similar mechanisms that provide consumers the ability to exercise choice regarding the collection of personal information of a consumer over time and across third party online services, to the extent the operator engages in that collection. At this time, we do not track our Users' personal information over time and across third-party online services. This law also requires operators of online services to disclose whether third parties may collect personal information about their users' online activities over time and across different online services when the users use the operator's service. We do not knowingly permit third parties to collect personal information about an individual User's online activities over time and across different online services when using the App.
</p>

<h3>How does Nikko.ai protect my personal data?</h3>

<p>Nikko.ai has implemented appropriate security measures to protect and prevent the loss, misuse, and alteration of the information under our control, including your personal data. Our technical experts at Nikko.ai work hard to ensure your secure use of our site.
While we take reasonable precautions against possible security breaches of our website, member database and records no website or Internet transmission is completely secure and we cannot guarantee that unauthorised access, hacking, data loss, or other breaches will never occur. We urge you to take steps to keep your personal data safe (including your password) and to log out of your account after use. If you lose your password or give it out, or another service provider that you use suffers a data breach and you have used the same credentials with that service provider as you have with Nikko.ai, your personal data may be compromised. If that happens, please report it to Support via Feedback Email.</p>

<h3>Where is my personal data kept?</h3>

<p>We want you to be able to access Nikko.ai wherever you happen to be in the world. To enable us to provide that service, we operate a network of servers including in the US. The hardware is located in third-party data centres but is owned by the Nikko.ai group. If you want more information relating to the nature of the safeguards we have in place, please email support@moderamic.com.</p>

<h3>Does Nikko.ai collect any other personal data about me?
</h3>

<p>If you contact our Customer Support team via Feedback Email, we will receive your email address, and may track your IP address, as well as the information you send to us to help resolve your query. We will keep records of our communications with you, including any complaints that we receive from you about other users (and from other users about you) for 6 years after deletion of your account.</p>

<h3>Does Nikko.ai use my personal data for any other purpose?
</h3>

<p>We may use material that you post on the open access areas of Nikko in advertising and promotional materials on our partner sites and partner products. We believe these uses are in line with our legitimate interests in enabling us to improve our site and better tailor your online experience to meet your needs. We may also use your data to train Artificial Intelligence models.
We use your personal data to resolve disputes, troubleshoot problems and enforce our Terms and Conditions of Use.
</p>

<h2>ABOUT US.</h2>

<p>
  Your access to the App, as well as this Privacy Policy are governed and interpreted by the laws of the State of California, other than such laws, rules, regulations and case law that would result in the application of the laws of a jurisdiction other than the State of California. By using the App, you are consenting to the exclusive jurisdiction of the courts of the United States and the State of California. You agree that such courts shall have in personam jurisdiction and venue and waive any objection based on inconvenient forum. You agree that you will not file or participate in a class action against us. In the event there is a discrepancy between this English language version and any translated copies of the Policy, the English version shall prevail.
 Our registered address is 830 Stewart St 
Sunnyvale, CA 94085
Thanks for reading, we hope we didn't drone on for too long!
</p>

<h3>Effective date
</h3>
<p>
This Privacy Policy was last updated on 29 August 2018.
</p>

</body>
</html>