<p>
Hi {{ user.name }}!
</p><p>
Thank you for using Moderamic! We hope you will find Moderamic to be a productive addition to your life. 
</p><p>
If you have any questions, feature requests, or other inquiries, let us know at support@moderamic.com or simply reply to this email.
</p><p>
Take care!
</p><p>
The Moderamic Team
</p>